@()(implicit req: RequestHeader)
@main {
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">                
                <span class="navbar-brand">Reactive User Management</span>
            </div>
        </nav>
        <div>
            <form role="form">
                <div>
                    <input type="input" class="form-control" data-bind="value: name" placeholder="User name"/>
                    <input type="input" class="form-control" data-bind="value: age" placeholder="User age"/>
                    <input type="hidden" class="form-control" data-bind="value: id"/>
                </div>
            </form>
            <button data-bind="click: connect">Connect to Server</button>
        </div>
    </div>
}