@()(implicit req: RequestHeader)

@main {
	
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">                
                <span class="navbar-brand">Reactive User Management</span>
            </div>
        </nav>
        <div>
            <form role="form">
                <div>
                    <span style="width:200px">User name</span><input type="input" style="width:200px" class="form-control" data-bind="value: username, valueUpdate:'afterkeydown'" placeholder="User name"/>
                    <span style="width:200px">User age</span><input type="input" style="width:200px" class="form-control" data-bind="value: age, valueUpdate:'afterkeydown'" placeholder="User age"/>
                    <input type="hidden" class="form-control" data-bind="value: userid"/>
                </div>
                <div style="margin-top:5px; margin-bottom:5px">		            
		            <span data-bind="text: userJson"></span>
		        </div>
                <button data-bind="click: createOrUpdate" class="app-button" style="margin-top:10px; width:200px">Submit</button>
            </form>                 
        </div>        
        <div data-bind="if: connecting" style="margin-top:5px; margin-bottom:5px">
            <span data-bind="text: connecting"></span>
        </div>
        <div data-bind="if: disconnected">            
            <button data-bind="click: connect" style="margin-top:10px;width:200px"  class="app-button">Re-connect</button>
            <span style="width:200px;margin-left:10px">Server disconnected</span>
        </div>
        <!-- Display list user table -->
        <div id="userData" data-bind="if: disconnected">
            <span style="width:200px">User List Panel</span>
        </div>
    </div>
}